<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="shippingCompanyEntities" connectionString="metadata=res://*/DATABASE.Model1.csdl|res://*/DATABASE.Model1.ssdl|res://*/DATABASE.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6JOM9UF\OEIWQJEQWE0QWIEQ;initial catalog=shippingCompany;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ShipShipEntities" connectionString="metadata=res://*/DataBase.Model1.csdl|res://*/DataBase.Model1.ssdl|res://*/DataBase.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6JOM9UF\OEIWQJEQWE0QWIEQ;initial catalog=ShipShip;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>